@model CreditInvoicePerDayViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="justify-content: center;display: flex;align-items: center;margin-top: 10%;background: #d5ffe8;border-radius: 45px;flex-direction: column">
    <div class="first-form">
        <form asp-action="CalculatePerDay">
            <p>Сумма: <input type="text" required="required" onkeypress='validate(event)' class="form-control" asp-for="Amount"/></p>
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            <p>Срок (в днях): <input required="required" type="text" onkeypress='validate(event)' class="form-control" asp-for="LoanDurationDays"/></p>
            @Html.ValidationMessageFor(model => model.LoanDurationDays, "", new { @class = "text-danger" })
            <p>Ставка (в день): <input required="required" type="text" class="form-control" asp-for="LoanRate"/></p>
            @Html.ValidationMessageFor(model => model.LoanRate, "", new { @class = "text-danger" })
            <p>Шаг платежа (в днях): <input class="form-control" onkeypress='validate(event)' required="required" type="text" asp-for="PaymentStep"/></p>
            @Html.ValidationMessageFor(model => model.PaymentStep, "", new { @class = "text-danger" })
            <button style="margin-bottom: 10px;margin-left: 40px" class="btn btn-danger" type="submit">Рассчитать</button>
        </form>
    </div>
</div>
